<div id="<%= dom_id themuon %>">
  <p>
    <strong>Mahs:</strong>
    <%= themuon.mahs %>
  </p>

  <p>
    <strong>Hoten:</strong>
    <%= themuon.hoten %>
  </p>

  <p>
    <strong>Lop:</strong>
    <%= themuon.lop %>
  </p>

  <p>
    <strong>Masach:</strong>
    <%= themuon.masach %>
  </p>

  <p>
    <strong>Tensach:</strong>
    <%= themuon.tensach %>
  </p>

  <p>
    <strong>Tentacgia:</strong>
    <%= themuon.tentacgia %>
  </p>

  <p>
    <strong>Tusach:</strong>
    <%= themuon.tusach %>
  </p>

  <p>
    <strong>Sobm:</strong>
    <%= themuon.sobm %>
  </p>

  <p>
    <strong>Ngaymuon:</strong>
    <%= themuon.ngaymuon %>
  </p>

  <p>
    <strong>Ngaytra:</strong>
    <%= themuon.ngaytra %>
  </p>

  <p>
    <strong>Songay:</strong>
    <%= themuon.songay %>
  </p>

  <p>
    <strong>Ghichu:</strong>
    <%= themuon.ghichu %>
  </p>

</div>
